#titleblock {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px
}

html { /* hide scrollbar */
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}

#titleblock {
    background-color: black;
    padding-top: 10px;
    margin-top: -90px;
    width: 100%;
    position:fixed;
    white-space: nowrap;
}

body {
    padding-top:80px;
    padding-left: 40px;
    padding-right: 40px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Consolas", "Lucida Console", monospace;
    font-size: x-large;
}

.push {
    margin-left: auto;
    margin-right: 0;
}

table,
th,
td {
    font-weight: bolder;
    font-size: 34px;
    border: 1px solid;
    text-align: center;
    border-color: rgb(255, 255, 255);
    border-collapse: collapse;
}

table {
    width: 100%;
    margin-bottom: 70px;
}

footer {
    transition: 0.5s;
    height: 50px;
    font-size: 40px;
    line-height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    margin:auto;
}

footer.shrink {
    animation-name: fadeout;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
}
footer.grow {
    animation-name: fadein;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease;
}


@keyframes fadein {
    from {
        bottom: -50px;
    }

    to {

        bottom: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 0px;
    }

    to {
        bottom: -50px;
    }
}